<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Опис програми</title>
    <link rel="stylesheet" href="../css/external/reset.css">
    <link rel="stylesheet" href="../css/external/bootstrap.css">
    <link rel="stylesheet" href="../css/description.css">
</head>
<body>
    <div class="container-fluid">
        <header class="row header">
            <section class="col-sm-12 heading">
                <h1 class="text-center">
                    <a href="https://github.com/AlexKolomiytsev/Vacuum-Cleaner" target="_blank">
                        Vacuum Cleaner
                    </a>
                </h1>
            </section>
            <section class="col-sm-12 text-center">
                <h4>Опис програми</h4>
            </section>
        </header>
        <section class="row content">
            <section class="row descr">
                <div class="col-sm-6">
                    <h5>Початковий екран</h5>
                    <p>
                        На початковому екрані користувачу пропонується обрати один з двох видів середовищ:
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Статичне</h6>
                                <p class="list-group-item-text">Статичне середовище характеризується тим,
                    що карта заздалегідь визначена і змінити її неможливо. Відповідно, алгоритми, які працюють на цій карті,
                з самого початку знають про карту.</p>
                            </li>
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Динамічне</h6>
                                <p class="list-group-item-text">Якщо обрати динамічну карту, то з'явиться порожнє середовище.
                                Його "динамічність" полягає в тому, що в будь-який момент часу можна створити будь-який тип середовиша,
                                тобто поставити "стіни" там де забажає користувач. Щоб поставити стіну, потрібно клікнути ЛКМ
                                по будь-якій клітинці. Відповідно агент, що працює в цьому середовищі буде "динамічно" обробляти інформацію
                                про клітинки, що знаходяться навколо нього, і реагувати на ті чи інші зміни.</p>
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="../images/startPage.jpg" width="100%" alt="">
                </div>
            </section>
            <section class="row descr">
                <div class="col-sm-6">
                    <h5>Екран "статичного" середовища</h5>
                    <p>
                        Бачимо середовище з набору клітинок. Клітинки сірого кольору - вільний простір, синього - стіна.
                        На екрані "статичного" середовища доступні три алгоритми:
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Послідовний</h6>
                                <p class="list-group-item-text">
                                    Суть даного алгоритму полягає в тому, що агент повинен послідновно пройти
                                    абсолютно всі клітинки вільного простору. При цьому агент з самого початку знає карту.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Пошук сміття</h6>
                                <p class="list-group-item-text">
                                    Даний алгоритм реалізований таким чином, що агент орієнтується саме на сміття.
                                    Так як середовище статичне, то агент вже знає все про карту і від самого початку знає про те
                                    де знаходиться сміття. В даному алгоритмі агент знає карту по трьом областям:
                                    <ol>
                                        <li>1. Область в лівій частині середовища, перед стінкою</li>
                                        <li>2. Область в нижній частині середовища, під стінкою</li>
                                        <li>3. Область в правій частині середовища, після першої стінки та над другою стінкою</li>
                                    </ol>
                                    В якій би області не опинився агент, він прагне спочатку очистити саме ту область в якій
                                    він знаходиться. Подальші дії агента залежать від того в якій саме області він знаходиться:
                                    <ul>
                                        <li> - якщо він знаходиться в першій області, то він буде прагнути покинути її,
                                            тобто буде прямувати вниз.</li>
                                        <li> - якщо він знаходиться в другій області, то падальший напрямок його руху
                                            буде залежати від кількості сміття в двох інших областях. Якщо в першій області немає бруду,
                                            то агент прямуватиме до третьої області, і навпаки. Якщо в обох областях є бруд, то напрямок
                                            руху він обиратиме довільно.
                                        </li>
                                        <li>
                                             - якщо він знаходиться в третій області, то він буде прагнути потрапити до другої області.
                                        </li>
                                    </ul>
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Випадковий</h6>
                                <p class="list-group-item-text">
                                    При даному алгоритмі агент абсолютно випадковим чином обирає подальший напрямок руху.
                                    Але, так як карта "статична", агент знає де знаходяться стіни, і відповідно "відштовхується" від них.
                                </p>
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="../images/staticPage.jpg" width="100%" alt="">
                </div>
            </section>
            <section class="row descr">
                <div class="col-sm-6">
                    <h5>Екран "динамічного" середовища</h5>
                    <p>
                        На даному екрані бачимо середовище без стін. Додати стіни користувач може клікнувши по будь-якій клітинці.
                        Таким чином, можливо побудувати будь-яку карту, з довільними стінами. Щоб запустити агента на цій карті,
                        потрібно обрати відповідний алгоритм, "намалювати карту", тобто виставити стіни,
                        натиснути кнопку "Засмітити приміщення", та натиснути кнопку "Старт".<br>
                        На екрані "динамічного" середивоща доступні два алгоритми:
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Рефлексний</h6>
                                <p class="list-group-item-text">
                                    Дії агента згідно до цього алгоритму, грунтуються на його рефлексах. Рефлекторні дії,
                    які закладені агенту - це відштовхування від стін. В усьому іншому агент діє випадковим чином.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Агент з ВПС (Внутрішнім представленням світу)</h6>
                                <p class="list-group-item-text">
                                    У цьому алгоритмі агент поводить себе "найрозумнішим" чином серед інших алгоритмів.
                                    Тут він має властивість запам'ятовування клітинок, в яких він вже був. Використовуючи
                                    отримані знання(запам'ятовані клітинки), агент аналізує свій подальший напрямок руху.
                                    <br>
                                    Спочатку агент рухається випадковим чином, запам'ятовує клітинки. Як тільки агент опиняється
                                    в клітинці, яка оточена запам'ятованими клітинками, він починає
                                    "продивлятися клітинки далі, ніж запам'ятовані", обирає ту клітинку, в якій він ще не був,
                                    і прямує саме до неї, щоб запам'ятати її.
                                    <br>(Для більш коректної роботи алгоритму, краще оточити середовище по периметру стінами).
                                </p>
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="../images/dynamicPage.jpg" width="100%" alt="">
                </div>
            </section>
            <section class="row descr">
                <div class="col-sm-6">
                    <h5>Панель з інформацією про стан середовища.</h5>
                    <p>Дана панель активується як тільки користувач обере який-небудь алгоритм.
                        Вона відображає наступні характеритики та налаштування:

                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Кількість сміття</h6>
                                <p class="list-group-item-text">
                                    Показує скільки клітинок в середовище забруднені сміттям.
                                    Як тільки дане значення стане рівним нулю, агент зупиниться.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Кількість кроків</h6>
                                <p class="list-group-item-text">
                                    Тут можна виставити кількість кроків, яку допускається зробити агенту.
                                    Як тільки дане значення стане рівним нулю, агент зупиниться.
                                </p>
                            </li>
                            <li class="list-group-item">
                                <h6 class="list-group-item-heading">Середній ступінь забрудненості</h6>
                                <p class="list-group-item-text">
                                    Дана характеристика показує на скільки відсотків забруднене середовище.
                                </p>
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-sm-6">
                    <img src="../images/infoPanel.jpg" width="50%" alt="">
                </div>
            </section>
        </section>
    </div>
</body>
</html>